html {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
    background-color: #BBBBBB;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
	text-decoration: none;
}

nav a:hover {
    color: brown;
}

.agendar {
	text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
	text-decoration: none;
}

.agendar:hover{
	color: #FF0000;
}

/* .principal{
	background: white;
	padding: 30px;
	margin: 20px;
} */

.titulo-principal {
	/* padding-left: 20px; */
	color: white;
	font-size: 40px;
	text-align: center;
}

.titulo-beneficios{
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	padding: 30px;
	position: relative;
	left: 120px;
	top: 0px;
}

.titulo-centralizado {
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	padding: 30px;
}

p {
	text-align: center;
	margin: 20px;
	font-size: 20px;
}

em strong {
	color: #FF0000;
}

.itens {
	font-style: italic;
	font-size: 30px;
}

.beneficios{
    width: 940px;
    margin: 0 auto;
	padding: 50px 0;

}

.itens:hover{
	font-size: 25px;
}

.lista-itens {
	position: relative;
	left: 600px;
	top: -150px;
    text-align: center;
    width: 60%;
    padding: 30px 20px;
	margin: 2% -7%;
	box-sizing: border-box;
	border: 2px solid #000000;
    border-radius: 10px;
}

.principal{
	height:300px;
	float:left;
	background: white;

	/* display: inline-block; */
    text-align: center;
    padding: 30px 20px;
    margin: 0 1.5%;

    width: 940px;
    margin: 10px 10px;
	
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;
}

.imagembeneficios {
	position: relative;
	top: -80px;
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

footer {
	background: url("/static/images/bg.jpg");
	margin: 10px 0 0;
	text-align: center;
	padding: 40px;
}

.copyright {
	text-align: center;
	color: white;
	font-size: 13px;
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    box-sizing: border-box;
    padding: 30px 20px;
    margin: 0 1.5%;
    border: 2px solid #000000;
    border-radius: 10px;
}

.produtos li:hover {
    border-color: brown;
}

.produtos li:active {
    border-color: yellowgreen;
}

.produtos li:hover h2 {
    font-size: 34px;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produtos-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

.produtos-descricao {
    font-size: 18px;
}

/*Contato*/
.contatos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.contatos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    box-sizing: border-box;
    padding: 30px 20px;
    margin: 0 1.5%;
    border: 2px solid #000000;
    border-radius: 10px;
}

.contatos li:hover {
    border-color: brown;
}

.contatos li:active {
    border-color: yellowgreen;
}

.contatos li:hover h2 {
    font-size: 34px;
}

.contatos h2 {
    font-size: 30px;
    font-weight: bold;
}

.contatos-descricao {
    font-size: 18px;
}